body {
  background-color: none;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.calc-container {
  margin: 3px 5px 0px 5px;
  height: 500px;
  padding: 15px 15px 15px 15px;
  width: 400px;
  border: 10px solid black;
  border-radius: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "t t t t"
  "d d d d"
  "d d d d"
  "c c v u"
  "e f g s"
  "h i j r"
  "k l m q"
  "n n o p";
  grid-gap: 5px;
}
@media screen and (max-width: 500px) {
  .calc-container {
    flex-grow: 1;
    border: 0;
  }
}
.title {
  justify-self: center;
  align-self: center;
  grid-area: t;
}
button {
  color: black;
  border-radius: 5%;
  font-size: 2em;
  background-color: white;
  border: 2px solid black;
}
.operator-button {
  color: white;
  background-color: black;
}
.display-button {
  color: black;
  background-color: #c4c4c4;
}
#dot-button {
  color: black;
  background-color: #c4c4c4;
}
button:active {
  background-color: #ededed;
}
.equal {
  color: white;
  background-color: orange;
}
input {
  color: black;
  height: 75%;
  width: 100%;
  text-align: right;
  font-size: 2.5em;
  padding: 0;
  background-color: white;
  border: 2px solid black;
}
.display {
  width: 100%
  align-self: center;
  grid-area: d;
}
#num0 {
  grid-area: n;
}
.dot {
  grid-area: o;
}
.divide {
  grid-area: u;
}
.multiply {
  grid-area: s;
}
.subtract {
  grid-area: r;
}
.add {
  grid-area: q;
}
.equal {
  grid-area: p;
}
.clear {
  grid-area: c;
}
.back {
  grid-area: v;
}
